[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
	branch = 4.3
[submodule "external_libraries/pybind"]
	path = external_libraries/pybind
	url = https://github.com/pybind/pybind11.git
